# Игнорировать все файлы с расширением .log
*.log

# Игнорировать файл .env (часто используется для конфиденциальных переменных среды)
.env

# Игнорировать все файлы и директории в каталоге temp/
temp/

# Игнорировать все файлы и директории, начинающиеся с "temp"
temp*/

# Игнорировать все .DS_Store файлы, типичные для macOS
.DS_Store

node_modules/
info.txt