/* кнопки */

.btn-create {
    font-size: 14px;
    width: 150px;
    height: 38px;
}
.modal-footer .btn {
    font-size: 14px;
}
.modal-footer .btn {
    width: 116px;
}

.btn-wrapper .btn {
    width: 100px;
    height: 37px;
    
}
