<div class="main container-fluid m-5">
    <h1 class="main-title my-5">Расходы</h1>
    <div class="main-items row">
        <!-- <div class="card col-12 col-md-6 col-lg-4 m-2">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Еда</h5>
                        <a href="javascript:void(0)" class="btn btn-primary">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Удалить</a>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-4 m-2">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Жильё</h5>
                        <a href="javascript:void(0)" class="btn btn-primary">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Удалить</a>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-4 m-2">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Здоровье</h5>
                        <a href="javascript:void(0)" class="btn btn-primary">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Удалить</a>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-4 m-2">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Кафе</h5>
                        <a href="javascript:void(0)" class="btn btn-primary">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Удалить</a>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-4 m-2">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Авто</h5>
                        <a href="javascript:void(0)" class="btn btn-primary">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Удалить</a>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-4 m-2">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Одежда</h5>
                        <a href="javascript:void(0)" class="btn btn-primary">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Удалить</a>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-4 m-2">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Развлечения</h5>
                        <a href="javascript:void(0)" class="btn btn-primary">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Удалить</a>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-4 m-2">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Счета</h5>
                        <a href="javascript:void(0)" class="btn btn-primary">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Удалить</a>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-4 m-2">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Спорт</h5>
                        <a href="javascript:void(0)" class="btn btn-primary">Редактировать</a>
                        <a href="javascript:void(0)" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Удалить</a>
                    </div>
                </div>
                <div class="card col-12 col-md-6 col-lg-4 m-2">
                    <div class="card-body card-body-last d-flex align-items-center justify-content-center">
                        <a class="link-secondary link-offset-2 link-underline link-underline-opacity-0" href="#/costsCreate">+</a>
                    </div>
                </div> -->
    </div>
</div>

<!-- модальное окно -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center pt-4 px-4">
                <h5 class="modal-title text-center" id="exampleModalLabel">
                    Вы действительно хотите удалить категорию?
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer justify-content-center pb-4">
                <button id="delete-category" type="button" class="btn btn-success">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>