<div class="main container-fluid m-5">
    <h1 class="main-title my-5">Редактирование категории доходов</h1>
    <div class="row">
        <div class="col-4 mb-3">
            <input id="edit-category-input" class="form-control" type="text" placeholder="Введите новое название">
        </div>
    </div>
    <a href="javascript:void(0)" class="btn btn-success btn-create" id="save-modified-category-btn">Сохранить</a>
    <a href="javascript:void(0)" class="btn btn-danger btn-create mx-1" id="cancel-modified-category-btn">Отмена</a>
</div>