<div class="main container-fluid m-5">
    <h1 class="main-title my-5">Создание <span id="title-income">дохода</span> <span id="title-cost">расхода</span></h1>
    <div class="col-4 mb-3 inputs-size">
        <!-- <input class="form-control mb-2" type="text" placeholder="Тип...">
            <input class="form-control mb-2" type="text" placeholder="Категория...">
            <input class="form-control mb-2" type="text" placeholder="Сумма в $...">
            <input class="form-control mb-2" type="text" placeholder="Дата...">
            <input class="form-control mb-2" type="text" placeholder="Комментарий..."> -->
    </div>
    <a id="btn-create-operation" href="javascript:void(0)" class="btn btn-success btn-create">Создать</a>
    <a id="btn-cancel-operation" href="#/incomeAndCosts" class="btn btn-danger btn-create mx-1">Отмена</a>
</div>