<div class="main pt-5">
    <div class="container mb-5">
        <h1 class="mb-5 mt-5">Доходы и расходы</h1>
        <a id="create-income-btn" href="javascript:void(0)" class="btn btn-success btn-create mb-5">Создать
            доход</a>
        <a id="create-cost-btn" href="javascript:void(0)" class="btn btn-danger btn-create mb-5 ms-2">Создать
            расход</a>
        <div class="main-dates-wrapper d-flex align-content-center mb-5">
            <div class="btn-wrapper">
                <button id="btn-filter-day" type="button" class="btn btn-outline-dark me-2">Сегодня</button>
                <button id="btn-filter-week" type="button" class="btn btn-outline-dark me-2">Неделя</button>
                <button id="btn-filter-month" type="button" class="btn btn-outline-dark me-2">Месяц</button>
                <button id="btn-filter-year" type="button" class="btn btn-outline-dark me-2">Год</button>
                <button id="btn-filter-all" type="button" class="btn btn-outline-dark me-2">Все</button>
                <button id="btn-filter-interval" type="button" class="btn btn-outline-dark">Интервал</button>
            </div>
            <div class="main-change-date d-flex align-items-center ms-3">
                <form class="pa__top-sec">
                    <div class="pa__middle-range">
                        <span class="me-3">с</span>
                        <div class="pa__middle-item">
                            <input id="startDate" class="pa__middle-input text" type="date" name="date"
                                placeholder="Дата" required>
                        </div>
                        <span class="me-3">по</span>
                        <div class="pa__middle-item">
                            <input id="endDate" class="pa__middle-input text" type="date" name="date" placeholder="Дата"
                                required>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div id="content-table">
            <!-- <table class="table text-center fs-6">
                    <thead>
                        <tr>
                            <th class="text-primary-emphasis" scope="col">№ операции</th>
                            <th class="text-primary-emphasis" scope="col">Тип</th>
                            <th class="text-primary-emphasis" scope="col">Категория</th>
                            <th class="text-primary-emphasis" scope="col">Сумма</th>
                            <th class="text-primary-emphasis" scope="col">Дата</th>
                            <th class="text-primary-emphasis" scope="col">Комментарий</th>
                            <th class="text-primary-emphasis" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td><span class="green">доход</span></td>
                            <td>зарплата</td>
                            <td>500$</td>
                            <td>11.09.2022</td>
                            <td></td>
                            <td>
                                <div class="ico-wrapper text-end">
                                    <a class="link-offset-2 link-underline link-underline-opacity-0"
                                        href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <svg class="m-2" width="14" height="15" viewBox="0 0 14 15" fill="none">
                                            <path
                                                d="M4.5 5.5C4.77614 5.5 5 5.72386 5 6V12C5 12.2761 4.77614 12.5 4.5 12.5C4.22386 12.5 4 12.2761 4 12V6C4 5.72386 4.22386 5.5 4.5 5.5Z"
                                                fill="black" />
                                            <path
                                                d="M7 5.5C7.27614 5.5 7.5 5.72386 7.5 6V12C7.5 12.2761 7.27614 12.5 7 12.5C6.72386 12.5 6.5 12.2761 6.5 12V6C6.5 5.72386 6.72386 5.5 7 5.5Z"
                                                fill="black" />
                                            <path
                                                d="M10 6C10 5.72386 9.77614 5.5 9.5 5.5C9.22386 5.5 9 5.72386 9 6V12C9 12.2761 9.22386 12.5 9.5 12.5C9.77614 12.5 10 12.2761 10 12V6Z"
                                                fill="black" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M13.5 3C13.5 3.55228 13.0523 4 12.5 4H12V13C12 14.1046 11.1046 15 10 15H4C2.89543 15 2 14.1046 2 13V4H1.5C0.947715 4 0.5 3.55228 0.5 3V2C0.5 1.44772 0.947715 1 1.5 1H5C5 0.447715 5.44772 0 6 0H8C8.55229 0 9 0.447715 9 1H12.5C13.0523 1 13.5 1.44772 13.5 2V3ZM3.11803 4L3 4.05902V13C3 13.5523 3.44772 14 4 14H10C10.5523 14 11 13.5523 11 13V4.05902L10.882 4H3.11803ZM1.5 3V2H12.5V3H1.5Z"
                                                fill="black" />
                                        </svg>
                                    </a>
                                    <a class="link-offset-2 link-underline link-underline-opacity-0"
                                        href="#/incomeCostsEdit">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M12.1465 0.146447C12.3417 -0.0488155 12.6583 -0.0488155 12.8536 0.146447L15.8536 3.14645C16.0488 3.34171 16.0488 3.65829 15.8536 3.85355L5.85357 13.8536C5.80569 13.9014 5.74858 13.9391 5.68571 13.9642L0.68571 15.9642C0.500001 16.0385 0.287892 15.995 0.146461 15.8536C0.00502989 15.7121 -0.0385071 15.5 0.0357762 15.3143L2.03578 10.3143C2.06092 10.2514 2.09858 10.1943 2.14646 10.1464L12.1465 0.146447ZM11.2071 2.5L13.5 4.79289L14.7929 3.5L12.5 1.20711L11.2071 2.5ZM12.7929 5.5L10.5 3.20711L4.00001 9.70711V10H4.50001C4.77616 10 5.00001 10.2239 5.00001 10.5V11H5.50001C5.77616 11 6.00001 11.2239 6.00001 11.5V12H6.29291L12.7929 5.5ZM3.03167 10.6755L2.92614 10.781L1.39754 14.6025L5.21903 13.0739L5.32456 12.9683C5.13496 12.8973 5.00001 12.7144 5.00001 12.5V12H4.50001C4.22387 12 4.00001 11.7761 4.00001 11.5V11H3.50001C3.28561 11 3.10272 10.865 3.03167 10.6755Z"
                                                fill="black" />
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><span class="red">расход</span></td>
                            <td>жильё</td>
                            <td>2 500$</td>
                            <td>12.09.2022</td>
                            <td></td>
                            <td>
                                <div class="ico-wrapper text-end">
                                    <a class="link-offset-2 link-underline link-underline-opacity-0"
                                        href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        <svg class="m-2" width="14" height="15" viewBox="0 0 14 15" fill="none">
                                            <path
                                                d="M4.5 5.5C4.77614 5.5 5 5.72386 5 6V12C5 12.2761 4.77614 12.5 4.5 12.5C4.22386 12.5 4 12.2761 4 12V6C4 5.72386 4.22386 5.5 4.5 5.5Z"
                                                fill="black" />
                                            <path
                                                d="M7 5.5C7.27614 5.5 7.5 5.72386 7.5 6V12C7.5 12.2761 7.27614 12.5 7 12.5C6.72386 12.5 6.5 12.2761 6.5 12V6C6.5 5.72386 6.72386 5.5 7 5.5Z"
                                                fill="black" />
                                            <path
                                                d="M10 6C10 5.72386 9.77614 5.5 9.5 5.5C9.22386 5.5 9 5.72386 9 6V12C9 12.2761 9.22386 12.5 9.5 12.5C9.77614 12.5 10 12.2761 10 12V6Z"
                                                fill="black" />
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M13.5 3C13.5 3.55228 13.0523 4 12.5 4H12V13C12 14.1046 11.1046 15 10 15H4C2.89543 15 2 14.1046 2 13V4H1.5C0.947715 4 0.5 3.55228 0.5 3V2C0.5 1.44772 0.947715 1 1.5 1H5C5 0.447715 5.44772 0 6 0H8C8.55229 0 9 0.447715 9 1H12.5C13.0523 1 13.5 1.44772 13.5 2V3ZM3.11803 4L3 4.05902V13C3 13.5523 3.44772 14 4 14H10C10.5523 14 11 13.5523 11 13V4.05902L10.882 4H3.11803ZM1.5 3V2H12.5V3H1.5Z"
                                                fill="black" />
                                        </svg>
                                    </a>
                                    <a class="link-offset-2 link-underline link-underline-opacity-0"
                                        href="#/incomeCostsEdit">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                                            <path
                                                d="M12.1465 0.146447C12.3417 -0.0488155 12.6583 -0.0488155 12.8536 0.146447L15.8536 3.14645C16.0488 3.34171 16.0488 3.65829 15.8536 3.85355L5.85357 13.8536C5.80569 13.9014 5.74858 13.9391 5.68571 13.9642L0.68571 15.9642C0.500001 16.0385 0.287892 15.995 0.146461 15.8536C0.00502989 15.7121 -0.0385071 15.5 0.0357762 15.3143L2.03578 10.3143C2.06092 10.2514 2.09858 10.1943 2.14646 10.1464L12.1465 0.146447ZM11.2071 2.5L13.5 4.79289L14.7929 3.5L12.5 1.20711L11.2071 2.5ZM12.7929 5.5L10.5 3.20711L4.00001 9.70711V10H4.50001C4.77616 10 5.00001 10.2239 5.00001 10.5V11H5.50001C5.77616 11 6.00001 11.2239 6.00001 11.5V12H6.29291L12.7929 5.5ZM3.03167 10.6755L2.92614 10.781L1.39754 14.6025L5.21903 13.0739L5.32456 12.9683C5.13496 12.8973 5.00001 12.7144 5.00001 12.5V12H4.50001C4.22387 12 4.00001 11.7761 4.00001 11.5V11H3.50001C3.28561 11 3.10272 10.865 3.03167 10.6755Z"
                                                fill="black" />
                                        </svg>
                                    </a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table> -->
        </div>



    </div>
</div>


<!-- модальное окно -->
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center pt-4 px-4">
                <h5 class="modal-title text-center" id="exampleModalLabel">
                    Вы действительно хотите удалить операцию?
                </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer justify-content-center pb-4">
                <button id="delete-operation" type="button" class="btn btn-success">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
            </div>
        </div>
    </div>
</div>