<div class="main container-fluid m-5">
    <h1 class="main-title my-5">Редактирование <span id="title-income">дохода</span> <span
            id="title-cost">расхода</span></h1>
    <div class="col-4 mb-3">
        <!-- <input class="form-control mb-2" type="text" placeholder="Доход">
            <input class="form-control mb-2" type="text" placeholder="Зарплата">
            <input class="form-control mb-2" type="text" placeholder="500$">
            <input class="form-control mb-2" type="date" placeholder="11.09.2022">
            <input class="form-control mb-2" type="text" placeholder="Комментарий..."> -->
    </div>
    <a id="btn-create-operation" href="javascript:void(0)" class="btn btn-success btn-create">Сохранить</a>
    <a href="#/incomeAndCosts" class="btn btn-danger btn-create mx-1">Отмена</a>
</div>