<div class="main container-fluid m-5">
    <h1 class="main-title my-5">Создание категории доходов</h1>
    <div class="row">
        <div class="col-4 mb-3">
            <input id="new-income-category-name" class="form-control" type="text" placeholder="Название...">
        </div>
    </div>
    <a href="javascript:void(0)" id="create-new-category" class="btn btn-success btn-create">Создать</a>
    <a href="javascript:void(0)" id="clear-new-category" class="btn btn-danger btn-create mx-1">Отмена</a>
</div>