<div class="main">
    <div class="container mb-5">
        <h1>Главная</h1>
        <div class="main-dates-wrapper">
            <div class="btn-wrapper">
                <button type="button" class="mb-1 btn active btn-outline-dark">Сегодня</button>
                <button type="button" class="mb-1 btn btn-outline-dark">Неделя</button>
                <button type="button" class="mb-1 btn btn-outline-dark">Месяц</button>
                <button type="button" class="mb-1 btn btn-outline-dark">Год</button>
                <button type="button" class="mb-1 btn btn-outline-dark">Все</button>
                <button type="button" class="mb-1 btn btn-outline-dark">Интервал</button>
            </div>
            <div class="main-change-date">
                <span>с</span>
                <a class="main-calendar" href="javascript:void(0)">Дата</a>
                <span>по</span>
                <a class="main-calendar" href="javascript:void(0)">Дата</a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <canvas id="myPieChart1"></canvas>
            </div>
            <div class="col-12 divider p-0"></div>
            <div class="col-12 col-md-6">
                <canvas id="myPieChart2"></canvas>
            </div>
        </div>

    </div>
</div>